---
layout: page
tagline:
---
{% for category in site.categories %}
  {% for post in category.last %}
    <a href="{{ post.url }}" class="permalink">
      <div class="desktop-3 mobile-half columns">
        <div class="item first-row">
          <h3>{{ post.title }}</h3>
          <span class="category">{{ post.category }}</span>

          <img src="images/{{ post.folder }}/preview.png" alt="" />
        </div><!-- // .item -->
      </div><!-- // .desktop-3 -->
    </a>
  {% endfor %}
{% endfor %}
<div class="clear"></div>
