<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <!-- CSS Files
  * cssreset-min.css      - CSS reset
  * typegrid.css        - Responsive grid system
  * style.css         - Main CSS file

  Original LESS Stylesheet
  <link rel="stylesheet/less" type="text/css" href="css/style.less" />
  ================================================== -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.8.0/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/typegrid.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">



  <!--[if lt IE 8]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/apple-touch-icon.png">

</head>

<body>


  <!-- Header - Half Logo
  ================================================== -->
  <section id="header">

    <!-- * * * * * * * * * * * * * * * * * * * * * * *

      Top Bar & Menu (#nav)

    * * * * * * * * * * * * * * * * * * * * * * * * -->
    <div class="topbar">
      <div class="container">
        <div id="logo-div">
          <a href="{{ site.baseurl }}/">
          <div id="logo">
              <img src="{{ site.baseurl }}/assets/images/SZ_logo.png"/>
          </div>

          <div class="logo-text">
            <h2> Siyan </h2>
          </div>
        </a>

        </div>
        <!--
          A custom jQuery plugin called typeMenu handles the menu
          Add .hide-on-mobile to <li> elements to hide a specific item on mobile viewports
        -->
        <ul id="nav">
          <li>
            <a href="{{ site.baseurl }}/">
              <span class="count hide-on-mobile">01.</span>
              Works
            </a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/about.html">
              <span class="count hide-on-mobile">02.</span>
              About Me
            </a>
          </li>

        </ul><!-- // #nav -->

      </div><!-- // .container -->
    </div><!-- // .topbar -->

  </section><!-- // #header -->


  <!-- Works
  ================================================== -->
  <section id="works">
    <div class="container">
      <div class="desktop-12 columns"></div>

      {{ content }}

    </div><!-- // .container -->
  </section><!-- // section#works -->




  <!-- Footer
  ================================================== -->
  <section id="footer">
    <div class="container">
      <div class="desktop-3 columns">
        <p>Copyright &copy; Siyan Zhao, 2019</p>
      </div><!-- // .desktop-3 -->

      <div class="desktop-9 columns">
        <ul id="social">
          <li><a href="http://www.facebook.com" class="hoverMe">Facebook</a></li>
          <li><a href="http://www.twitter.com" class="hoverMe">Twitter</a></li>
          <li><a href="http://www.google.com" class="hoverMe">Google+</a></li>
        </ul><!-- // #social -->
      </div><!-- // .desktop-9 -->

      <div class="clear"></div>
    </div><!-- // .container -->
  </section><!-- // section#footer -->


  <!-- JS
  ================================================== -->
  <!--
    Flexslider 2.1 has known issues of manualControls setting with jQuery 1.9~
    Use jQuery 1.8 until Flexslider 2.2 stable version is released
  -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jQuery.BlackAndWhite.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/modernizr.js"></script>
  <script src="{{ site.baseurl }}/assets/js/less-1.4.0.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jquery.typeMenu.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jquery.typeSticky.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jquery.custom.js"></script>

  {% include analytics.html %}

<!-- End Document
================================================== -->
</body>
</html>
